@import url('./fonts.css');

:root {
  --fg: hsl(0, 5%, 10%);
  --bg: hsl(210, 20%, 98%);
  --blue: hsl(238, 84%, 52%);
  --red: hsl(0, 100%, 33%);
  --mono: hsl(210, 28%, 93%);
  --p-break: 0.6rem;
}

html {
  font-size: 1rem;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  padding: var(--p-break) 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

body {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  max-width: 120ch;
  line-height: 1.6;
  margin: 0 auto;
  color: var(--fg);
  background-color: var(--bg);
  text-rendering: optimizeLegibility;
}

a {
  color: var(--red);
  text-underline-offset: 0.3rem;
}

p {
  margin: 0;
  text-align: justify;
  padding-bottom: var(--p-break);
}

ul {
  margin: 0 0 var(--p-break);
  padding: 0 0 0 1.2rem;
}

/* Styles for inline code or code snippets */
code,
pre {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 85%;
  hyphens: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 210mm), print {
  .space-between {
    flex-direction: row;
  }

  #exp {
    float: left;
    clear: bottom;
    width: 61.8029%;
    padding-right: 1rem;
    border-right: 1px solid var(--red);
  }

  #contacts,
  #skills,
  #pj,
  #oss,
  #hobbies,
  #regrets,
  #edu {
    padding-left: 1rem;
    clear: none;
    float: right;
    width: 38.1971%;
  }
}

@page {
  size: A4;
  margin: 0.5in;
}

@media print {
  html {
    font-size: 10pt;
  }
}
